body{
    min-height: 100vh;
    background-color: #d5e1ef;
    margin: 0;
    font-family: "Outfit";

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.attribution.multi-grid{
    margin-bottom: 25px;
}
/* qr code tile */
.container{
    width: 320px;
    height: 499px;
    background-color: #FFFFFF;
    /* margin: 0 39% 0 39%; */
    border-radius: 20px;
    box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.0477);
    margin-bottom: 25px;
}

.container .qr-code img{
    width: 288px;
    height: 288px;
    margin: 16px 16px 24px 16px;
    border-radius: 10px;
}

.text{
    margin: 0px 16px 40px 16px;
}

.text > h1, p{
    margin: 0px 16px 16px 16px;
    font-size: 15px;
    text-align: center;
}

.text h1{
    font-weight: 700;
    font-size: 23px;
    color: #1f314f;
}

.text p{
    font-size: 15px;
    color: #68778D;
}

/* grid */
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li{
    margin: 25px 0;
}

@media (min-width: 1000px){
    ul {
        display: grid;
        grid-template-columns: 320px 320px 320px;
        column-gap: 25px;
        row-gap: 25px;
        margin: 2% 0;
    }

    ul li{

        margin: 0 0;
    }

    ul li:last-child{
        grid-column: 2;
        /* border: double cornflowerblue; */
    }
}

/* @media  (max-width: 1440px) {
    body{
        padding: 12% 10% 12% 10%;
    }
    .container{
        margin: 0 36% 0 36%;
    }

}

@media (max-width: 1440px) and (min-height: 960px){
    body{
        padding: 14% 10% 14% 10%;
    }
    .container{
        margin: 0 36% 0 36%;
    }
}

@media (max-width: 1000px) {
    .container{
        margin: 0 32% 0 32%;
    }
}

@media (max-width: 375px) {
    body{
        padding: 40% 5% 40% 5%;
    }
    .container{
        margin: 0 0% 0 0%;
    }
}

@media (max-width: 375px) and (min-height: 812px){
    body{
        padding: 37% 5% 37% 5%;
    }
    .container{
        margin: 0 0% 0 0%;
    }
} */
